body {
    font-family: hunter,robata, sans-serif;
}
.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    font-size: 36px;
}

.splash{
    display: flex;
    
}
.dialog {
    font-size: 24px;
}